.item {
    &-wrapper {
        margin: 12% 0%;
        .item-container {
            margin-bottom: 5%;
            .image-container {
                width: 100%;
                width: 200px;
                height: 200px;
                    &.image-500px {
                        background: url('../../assets/icons8-500px.svg') center no-repeat;
                        background-size: cover;
                        
                    }
                    &.image-instagram {
                        background: url('../../assets/icons8-instagram.svg') center no-repeat;
                        background-size: contain;
                    }
                    &.image-linkedin {
                        background: url('../../assets/icons8-linkedin.svg') center no-repeat;
                        background-size: contain;
                    }
                    &.image-facebook {
                        background: url('../../assets/icons8-facebook.svg') center no-repeat;
                        background-size: contain;
                    }
                   
                // .my-svg {
                //     position: relative;
                //     width: 150px;
                //     height: 150px;
                //     &::before {
                //         content: url('../../assets/KeyItemPopUp_Lock-Up-MUST-HAVE-STYLES.svg');
                //         position: absolute;
                //         width: 150px;
                //         height: 150px;
                //         animation: rotate 4s linear 1s infinite;
                //         transform: rotate(0deg);
                //     }
                //     &::after {
                //         content: url('../../assets/KeyItemPopUp_Lock-Up-PINK-LOGO.svg');
                //         width: 90px;
                //         position: absolute;
                //         top: 58px;
                //         left: 0;
                //         right: 0;
                //         margin: auto;
                //         animation: zoom 1s alternate 1;
                //     }
                // }
            }

            .content-wrapper {
                letter-spacing: 0.2rem;
                font-size: calc(17px + (24 - 17) * (100vw - 400px)/(1200 - 400));
                font-family: cursive;
                text-align: left;
                color: ghostwhite;
            }
        }

        a {
            color: whitesmoke;
            font-style: italic;
            font-family: fantasy;
            letter-spacing: 3px;
            font-size: calc(18px + (22 - 18) * (100vw - 400px)/(1200 - 400));
        }
    }
}

@keyframes zoom {
    from {
        width: 0;
    }
    to {
        width: 90px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mobile {
    .item-container {
        .image-container {
            margin: auto;
        }
        .content-wrapper {
            text-align: center;
        }
    }
   
}